# ==============================
# Web Server
# ==============================

Django==1.6.2
gunicorn==18.0
django-toolbelt==0.0.1
newrelic==2.14.0.11


# ==============================
# Database and Persistance
# ==============================

# DB Settings and Management
psycopg2
south
dj-database-url

# Caching
django-redis

# File Storate
boto
django-storages


# ==============================
# Background processing
# ==============================

django-celery==3.1.9


# ==============================
# Static files
# ==============================

dj-static==0.0.5


# ==============================
# User Accounts and Social Media
# ==============================

python-social-auth


# ==============================
# Payment processing
# ==============================

stripe==1.12.2


# ==============================
# API
# ==============================

#git+https://github.com/openplans/shareabouts-api.git@api-app#egg=shareabouts-api
djangorestframework>=2.3.11
djangorestframework-csv>=1.3.0
six>=1.4.1
markdown  # For browsable API docs
python-dateutil
ujson


# ==============================
# Routes and Templating
# ==============================
django-jstemplate==1.3.6
git+git://github.com/mjumbewu/pymeta.git@master#egg=pymeta
git+git://github.com/mjumbewu/pybars.git@master#egg=pybars
djangobars==0.1.3


# ==============================
# Testing & Debugging
# ==============================

django-nose==1.2
mock==1.0.1
django-debug-toolbar==1.0.1