{% extends 'manager-base.html' %}

{% block main %}

<section class="main">
  <div class="container">
    {% if form.errors.email %}
    <div class="alert alert-error"><strong>{{ form.errors.email.as_text|slice:"2:"|safe }}</strong></div>
    {% endif %}

    <h3>My Account</h3>
    <form method="POST">
      {% csrf_token %}

      <p><input required type="email" name="email" id="my-email" class="input-block" placeholder="email@example.org" tabindex="1" value="{{ form.email.value|default_if_none:'' }}"> <label for="my-email" class="float-label"><strong>Email</strong></label></p>

      <p><input required type="text" name="affiliation" id="my-affiliation" class="input-block" placeholder="Organizational Affiliation" max="256" tabindex="4" value="{{ form.affiliation.value|default_if_none:'' }}"> <label for="my-affiliation" class="float-label"><strong>Organizational Affiliation</strong></label></p>

      <p class="clearfix">
        <input class="radio-btn is-visuallyhidden" type="radio" name="myplan" id="plan1" value="plan1" checked="checked" />
        <label for="plan1" class="plan-btn is-selected">
          <strong class="plan-title">Basic</strong>
          <span class="plan-price">(<span class="unit"></span><span class="price">Free</span><small class="frequency"></small>)</span>
        </label>

        <input class="radio-btn is-visuallyhidden" type="radio" name="myplan" id="plan2" value="plan2" />
        <label for="plan2" class="plan-btn">
          <strong class="plan-title">Pro</strong>
          <span class="plan-price">(<span class="unit">$</span><span class="price">99</span><small class="frequency">/month</small>)</span>
        </label>

        <input class="radio-btn is-visuallyhidden" type="radio" name="myplan" id="plan3" value="plan3" />
        <label for="plan3" class="plan-btn">
          <strong class="plan-title">Woah!</strong>
          <span class="plan-price">(<span class="unit">$</span><span class="price">9999</span><small class="frequency">/month</small>)</span>
        </label>
      </p>       

      <p><input type="submit" value="Update Account" class="btn btn-large" tabindex="4"></p>
    </form>

    <hr>

    <h3>Payment Method</h3>
    <p class="payment-method"><span class="card-number">**** **** **** 1234</span> <span class="card-type">VISA</span> <a href="#" class="btn btn-small">Change</a></p>

  </div>
</section>

{% endblock %}
