{% extends 'manager-base.html' %}

{% block main %}

<section class="main">
  <div class="container">
    {% if form.errors.email %}
    <div class="alert alert-error"><strong>{{ form.errors.email.as_text|slice:"2:"|safe }}</strong></div>
    {% endif %}

    <h3>My Account</h3>
    <form method="POST">
      {% csrf_token %}

      <p><input required type="email" name="email" id="email-address" class="input-block" placeholder="email@example.org" tabindex="1" value="{{ profile.email|default_if_none:'' }}"> <label for="my-email" class="float-label"><strong>Email</strong></label></p>

      <p><input required type="text" name="affiliation" id="affiliation" class="input-block" placeholder="Organizational Affiliation" max="256" tabindex="4" value="{{ profile.affiliation|default_if_none:'' }}"> <label for="affiliation" class="float-label"><strong>Organizational Affiliation</strong></label></p>

      <p class="clearfix">
        {% for account_package in account_packages %}
        <input class="radio-btn is-visuallyhidden" type="radio" name="package" id="plan-{{ account_package.slug }}" value="{{ account_package.slug }}"{% if profile.package.slug == account_package.slug %} checked="checked"{% endif %} />
        <label for="plan-{{ account_package.slug }}" class="plan-btn">
          <strong class="plan-title">{{ account_package.name }}</strong>
          <span class="plan-price">
            {% if account_package.price == 0 %}
            (<span class="price">Free</span>)
            {% else %}
            (<span class="unit">$</span><span class="price">{{ account_package.price }}</span><small class="frequency">/month</small>)
            {% endif %}
          </span>
        </label>
        {% endfor %}
      </p>       

      <p><input type="submit" value="Update Account" class="btn btn-large" tabindex="4"></p>
    </form>

    <hr>

    <h3>Payment Method</h3>
    {% if profile.credit_card %}
    <p class="payment-method"><span class="card-number">**** **** **** {{ profile.credit_card.four }}</span> <span class="card-type">{{ profile.credit_card.type }}</span> <a href="#" class="btn btn-small">Change</a></p>
    {% else %}
    <p class="payment-method"><a href="#" class="btn btn-small">Add a Credit Card</a></p>
    {% endif %}

  </div>
</section>

{% endblock %}
